# 示例配置信息
APP_NAME=XBoard
APP_ENV=production
APP_KEY=base64:Go5E5Wz8pns09aH9ToJ6vWIsjtccS3+soit6+8Fpmj4=
APP_DEBUG=false
APP_URL=https://shop.jichang.one # 这里填自己的域名 https:// 末尾不带/

LOG_CHANNEL=stack

DB_CONNECTION=pgsql  # pgsql或sqlite 不能填mysql已经弃用mysql
DB_HOST=如果你是宝塔这里127.0.1  如果是1panel（推荐）这里则是PostgreSQL容器名称
DB_PORT=5432
DB_DATABASE=数据库用户
DB_USERNAME=数据库名称
DB_PASSWORD=数据库密码

REDIS_HOST=如果你是宝塔这里127.0.1  如果是1panel（推荐）这里则是Redis容器名称
REDIS_PASSWORD=Redis密码  没有则不填
REDIS_PORT=6379

#------ 以下全默认 -------
BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME=null
MAILGUN_DOMAIN=
MAILGUN_SECRET=

# google cloud storage
ENABLE_AUTO_BACKUP_AND_UPDATE=false
GOOGLE_CLOUD_KEY_FILE=config/googleCloudStorageKey.json
GOOGLE_CLOUD_STORAGE_BUCKET=

# Prevent reinstallation
INSTALLED=1